<!DOCTYPE html>
<html>
<head>
  <title>My NestJS App</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <div class="header-left">
      <h1>My NestJS App</h1>
    </div>
    <div class="header-center">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="header-right">
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
  </header>
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>Welcome to my NestJS app!</h1>
  </div>
</body>
</html>
