<!DOCTYPE html>
<html>
<head>
  <title>My NestJS App</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="module" src="index.js"></script>
  <script src="user.js"></script>
</head>
<body>
  <header>
    <div class="header-left">
      <h1>My NestJS App</h1>
    </div>
    <div class="header-center">
      <ul class="nav-list">
        <li><a href="#" id="header/home">Home</a></li>
        <li><a href="#" id="header/about">About</a></li>
        <li><a href="#" id="header/contact">Contact</a></li>
      </ul>
    </div>
    <div class="header-right">
      <a href="#" id="user/login">Login</a>
      <a href="#" id="user/sign">Sign Up</a>
    </div>
  </header>
  <div class="main-container">
    <div class="sidebar">
      <h2>Sidebar</h2>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
    <div class="content" id="content">
      뭐야 돌려줘요
      {{{body}}}
    </div>
  </div>
</body>
</html>
