<!DOCTYPE html>
<html>
<head>
  <title>My NestJS App</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="module" src="index.js"></script>
  <script type="module" src="user.js"></script>
  <style>
    
  </style>
</head>
<body>
  <header>
    <div class="header-left">
      <h1>My NestJS App</h1>
    </div>
    <div class="header-center">
      <ul class="nav-list">
        <li><a href="#" id="header/home">Home</a></li>
        <li><a href="#" id="header/about">About</a></li>
        <li><a href="#" id="header/contact">Contact</a></li>
      </ul>
    </div>
    <div class="header-right">
      <a href="#" id="user/login">Login</a>
      <a href="#" id="user/sign">Sign Up</a>
    </div>
  </header>
  <div class="main-container">
    <div class="sidebar">
      <h2>Sidebar</h2>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
    <div class="content" id="content">
      <div id="home" class="content-section active">
        <div class="section">
          <h1>Home</h1>
          <p>Welcome to the home page of the NestJS app.</p>
        </div>
      </div>
      <div id="about" class="content-section">
        <div class="section">
          <h1>About Us</h1>
          <p>This is the about page of the NestJS app.</p>
        </div>
      </div>
      <div id="contact" class="content-section">
        <div class="section">
          <h1>Contact Us</h1>
          <p>Feel free to contact us if you have any questions or concerns.</p>
        </div>
      </div>
      <div id="login" class="content-section">
        <form action="/user/login" method="post">
          <div>
            <label for="email">Email:</label>
            <input type="email" id="login_email" name="email" required>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="login_password" name="password" required>
          </div>
          <button type="submit" id="login">Login</button>
        </form>
      </div>
      <div id="sign" class="content-section">
        <form action="/user/sign" method="post">
          <div>
            <label for="ID">ID:</label>
            <input type="text" id="id" name="id" required>
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" id="sign_email" name="email" required>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="sign_password" name="password" required>
          </div>
        <button type="button" id="signUp">Sign Up</button>
      </form></div>
    </div>
  </div>
</body>
</html>
