<div id="home" class="content-section active">
  <h1>Home</h1>
  <p>사회복지, 영상편집, 건설사무소 등 다양한 활동 경험 보유</p>
  <p>학술 소모임(마술) 대표, 사회봉사단 대표 등 원활한 커뮤니케이션 능력 소유</p>
  <p>다양한 프로젝트 경험</p>
  <p>기획 - 개발 - 배포 사이클 경험</p>
  <p>추가예정 : 파일업/다운, 그룹별 화면관리, 게시판, 메시지 등등, java기반 webPage 연결</p>
</div>
