<div id="login" class="content-section">
  <form action="/user/login" method="post" class="login-form">
    <div>
      <label for="Id">ID:</label>
      <input type="text" id="login_id" name="login_id" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="login_password" name="login_password" required>
    </div>
    <button type="submit" id="login">Login</button>
  </form>
</div>